{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "root": true
}
